* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
    color: crimson;
    font-size: 28px;
    margin-bottom: 16px;
}

p {
    font-weight: 3000;
    font-size: 16px;
    color: #343131;
    margin-bottom: 12px;
}

/* Container é uma classe universal, ele é utilizado para centralizar o conteúdo na tela do usuário.  */
.container {
    padding-left: 20%;
    padding-right: 20%;
}